<ion-view view-title="Siemens Ultrasound" >
  <ion-content>
   <div class="full-bg" id="siemens-ultrasound" >

			<div class="row vertical-bar" >
            <!-- Left Column -->
              <div class="col col-50 ">
              		<h1> Pioneering Ultrasound. </h1>
                    <p> At Siemens, our goal is to provide advanced ultrasound
                        solutions that address the challenges of today and equip
                        you for the future. With these technologies, you can find
                        confidence in more accurate diagnoses that support the
                        care of your patients.
                   </p>
                   <ion-list>
                       <ion-item calss="text-left" target="_blank" href="http://www.healthcare.siemens.com/ultrasound">
                           <pre>LEARN MORE ABOUT THE SIEMENS ULTRASOUND PORTFOLIO AND HOW SIEMENS IS PROVIDING WORLD-CLASS ULTRASOUND SOLUTIONS FOR CARDIOVASCULAR IMAGING, OB/GYN, RADIOLOGY, POINT-OF-CARE, AND MORE. </pre>
                           <i class="icon icon-right ion-ios-arrow-right"></i>
                       </ion-item>
                  </ion-list>
              </div>

            <!-- Right Column -->
            <div class="col col-50">
                <h1> Superior Service. </h1>
                <p>As your reliable partner, we offer unparalleled support and service through:</p>
                  <ul>
                    <li> A variety of service plans designed to fit your needs </li>
                    <li> Streamlined logistics for same day parts delivery </li>
                    <li> Fast response and software updates with Siemens Remote Service® </li>
                    <li> Coverage options that provide protection from unexpected costs </li>
                    <li> WIN7 network security and system stability enhancements </li>
                  </ul>
                 <ion-list>
                     <ion-item calss="text-left" target="_blank" href="http://www.healthcare.siemens.com/services/imaging-therapy/healthcare-customer-services/ultrasound-services">
                         <pre>LEARN MORE ABOUT THE COMPREHENSIVE SUPPORT SIEMENS OFFERS FOR YOUR ULTRASOUND EXPERIENCE. </pre>
                         <i class="icon icon-right ion-ios-arrow-right"></i>
                     </ion-item>
                </ion-list>
            </div>

            </div><!-- end of row -->

   </div>
  </ion-content>
</ion-view>
