<ion-view view-title="Helx Launch Page" hide-nav-bar="true">
  <ion-content class="splash"  >
  
    <div class="siemens-logo"> </div>
    
   	<div class="launch overlay">
    	<span class="caption">
            <h1> Feel the Innovation.</h1>
            <p>  The ACUSON S Family™ of ultrasound systems, HELX™ Evolution with Touch Control is built on the idea that innovation should be accessible. With three unique systems that focus specifically on usability, you can experience flexible, sustainable ultrasound solutions that address your evolving clinical needs. </p>
        
        	<button class="button"> Launch ></button>
        </span>
    </div>     
    
  </ion-content>
</ion-view>
