<ion-view view-title="HELX Workflow Simulation" >
   <ion-content >
     <div class="full-bg" id="workflow" >
    			<div class="row">

            <!-- Left column -->
              <div class="col col-25"> </div>

              <div class="col col-50 text-center">
                <h1> Workflow Simulation</h1>
                <p>
                  Featuring newly designed user-focused tools—including annotations,
                  protocols, body markers, and more—the ACUSON S Family™ of ultrasound
                  systems, HELX Evolution with Touch Control helps improve exam efficiencies
                  at every level.
                </p>
                <p>
                  Experience how efficient ultrasound can be through the Workflow Simulation,
                  a web-based app that puts these advanced HELX features directly in your hands.
                </p>

                <ion-list>
                    <ion-item class="text-center" href="#" target="_blank">

                        <!-- href="http://siemens.com/workflowsimulation" -->
                        <!-- Visit siemens.com/workflowsimulation to launch the app. -->

                        The Workflow Simulation will be available soon.
                        <i class="icon icon-right ion-ios-arrow-right"></i>
                    </ion-item>
                </ion-list>
              </div>

              <div class="col col-25"> </div>

            </div><!-- end of row -->
    </div>
  </ion-content>
</ion-view>
