<ion-view view-title="Siemens Contact Information" >
  <ion-content>
   <div class="full-bg" id="contact" >

     <div class="row">
       <div class="col col-100">
             <h1> Have questions about the app? Reach out. </h1>
        </div>
      </div>

       <div class="row text-left">
              <div class="col col-50 darkest">
                  <strong> Douglas Younger III</strong> <br />
                  Senior Global Product Marketing Manager<br />
                  General Imaging<br />
                  Ultrasound Division<br /><br />
                  <strong>Email:</strong> <a href="mailto:douglas.younger@siemens.com">douglas.younger@siemens.com</a>
              </div>
              <div class="col col-50 darkest">
                <strong> Elliot Fine </strong> <br />
                Global Product Marketing Manager<br />
                General Imaging<br />
                Ultrasound Division<br /><br />
                <strong>Email:</strong> <a href="mailto:elliot.fine@siemens.com">elliot.fine@siemens.com</a>

              </div>
        </div><!-- end of row -->
        <div class="bar bar-footer" >
          <p>
            The products and features mentioned in this document may not be commercially available in all countries.
            Due to regulatory reasons, their future availability cannot be guaranteed. Please contact your local Siemens
            organization for further details.
          </p>
          <p>
            Standalone clinical images may have been cropped to better visualize pathology.
          </p>
          <p>
            Microsoft and Windows are registered trademarks of Microsoft Corporation in the United States and other countries.
          </p>
          <p>
            ACUSON S Family, ACUSON S1000, ACUSON S2000, ACUSON S2000 Automated Breast Volume Scanner, ACUSON S3000, HELX,
            Cadence, eSie Fusion, eSie Touch, eSie Image, eSie Guide, Sie Stream, Sie Stream HD, syngo, Virtual Touch Imaging,
            Virtual Touch Quantification, and Virtual Touch IQ are trademarks of Siemens Medical Solutions USA, Inc.
          </p>
              <div class="row">
                <div class="col col-50 text-left"> © 11.2015, Siemens Medical Solutions USA, Inc. </div>
                <div class="col col-50 text-right"> <strong> <a href="www.siemens.com/helx">www.siemens.com/helx</a> </strong></div>
              </div>
        </div>
   </div>
  </ion-content>
</ion-view>
