<ion-modal-view view-title="S Family Tree" class="overview-modal family-tree-modal darkest" ng-class="{ 'hide' : hide.Offline}">
  <div class="row">
    <button class="button button-clear close-button"  ng-click="closeusabilityModal($usabilityModalEvent); instructionsModal();">
      <i class="icon ion-close"> </i>
    </button>
  </div>
  <ion-content class="content">
    <div class="row">

     <div class="serif">
       <h1>S Family Tree</h1>
       <p>
           We’ve designed the S Family Tree to enhance your understanding of the powerful solutions
           offered by each ACUSON S Family™ ultrasound system. A unique, filterable table allows you
            to customize your viewing experience of each system, software release, and the
            accompanying technologies and transducers.
       </p>
     </div>
       </div>
  </ion-content>
</ion-modal-view>
