<ion-modal-view view-title="S Family Tree" class="overview-modal family-tree-instructions-modal darkest" ng-class="{ 'hide' : hide.Offline}">
  <div class="row">
    <button class="button button-clear close-button"  ng-click="closeinstructionsModal($instructionsModalEvent)">
      <i class="icon ion-close"> </i>
    </button>
  </div>
  <ion-content class="content">
    <div class="row">

     <div>

       <h2>Release</h2>
       <p>
           The Release section allows you to explore the imaging applications, transducers,
           and technologies available for each software version. You will experience our
           most recent releases as you work down the list.
       </p>

       <h2>System</h2>
       <p>
           The System section allows you to explore the software releases and imaging
           technologies supported by each ACUSON S Family™ ultrasound system. This section
           begins with our most foundational system and ends with our most advanced.
       </p>

       <h2>Release + System</h2>
       <p>
           By offering combined views of software releases and ultrasound systems,
           The S Family Tree highlights the true scope of imaging solutions available
           through the ACUSON S Family systems.
       </p>
     </div>
       </div>
  </ion-content>
</ion-modal-view>
