<ion-modal-view view-title="Comparative Usability" class=" overview-modal darkest">
  <div class="row">
    <button class="button button-clear close-button"  ng-click="closeusabilityModal($usabilityModalEvent)">
      <i class="icon ion-close"> </i>
    </button>
  </div>
  <ion-content class="content">
    <div class="row">

     <div class="usability-modal serif">
       <h1> Comparative Usability Test</h1>
       <p>
           Usability is a foundational feature of all HELX Evolution with Touch
           Control systems. To gain a deeper understanding of how this feature affects
           ultrasound users, Siemens conducted an extensive test that focused on
           how the HELX Evolution with Touch Control systems perform in relation
           to competitors.
       </p>
       <h4 class="text-orange"> Explore the following pages to view selected results
         from this test.
       </h4>
     </div>
       </div>
  </ion-content>
</ion-modal-view>
