<ion-modal-view class="overview-modal darkest">
  <div class="row">
    <button class="button button-clear close-button"  ng-click="closeHelxInfoModal()">
      <i class="icon ion-close"> </i>
    </button>
  </div>

  <ion-content class=" content text-center" >
    <div class="helx-info-slide">
         <img class="small-square" src="../img/helx-logo-touch-control.png" alt="HELX Evolution with Touch Control" />
          <p text-center>
             If you could design your own ultrasound system, what would you do? That’s precisely what we asked nearly 400
             healthcare providers in more than 150 usability sessions. We conducted studies with ultrasound users all over
             the world to find what you really want out of an ultrasound system.
          </p>
            <p>The result is the ACUSON S Family™ of ultrasound systems, HELX™ Evolution with Touch Control.  It’s ultrasound designed by you.</p>

       </div>

  </ion-content>
</ion-modal-view>
