<ion-view view-title="Sales Quiz" >
  <ion-content>
   <div class="full-bg" id="quiz" >

     <div class="row quiz-intro">
       <!-- Left column -->
         <div class="col col-25"> </div>

         <div class="col col-50 text-center">
           <h1> Sales Quiz</h1>
           <p>
              Covering a wide range of information, including system technologies, history,
              sales information, and more, the Sales Quiz is designed to show off your comprehensive
              understanding of the ACUSON S Family™ ultrasound systems. Each unique correct answer
              boosts your overall standing (represented by your Star Level) and brings you one step
              closer to being a HELX Hero.
           </p>
          <a href="{{quiz_start}}" ng-click="quizReset()">
                <button class="button button-small text-center button-calm" >
                   Take the Quiz >
                 </button>
         </a>
         </div>
       </div><!-- end of row -->


   </div>
  </ion-content>
</ion-view>
